body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 1;
}
main {
    /* <!-- 3840 × 2160 px --> */
    background-image: url(bg.png);
    background-position-y: -16px;
    background-position-x: -26px;
    /* background-size: 1115px; */
    background-size: 487px;


    width: 8.5cm;
    height: 5.5cm;
    /* width: 8.8cm;
    height: 5.8cm; */

    border-radius: 2em;
    box-shadow: 4px 11px 14px 3px grey;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    border-radius: 2em;
    width: 100%;
    margin: 0.4em;
    background-color: rgba(224, 251, 238,0.5);
    box-shadow: #355c49 0px 0px 1px 1px;
}
#front section {
    padding: 2px 0 10px 0;
}

#back section {
    padding: 25px 0 30px 0;
}

aside {
    box-shadow: #355c49 0px 0px 1px 2px;
    background-color: rgba(224, 251, 238,0.5);
    border-radius: 20px;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#logo-wrap {
    background-color: transparent;
    border-radius: 19px;
    width: 78px;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#front img {
    filter: drop-shadow(0px 0px 1px black);
    width: 50px;
    height: auto;
}

#back img {
    width: 150px;
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2em;
    width: 95%;
    margin: 0.4em;
    flex-grow: 1;
}

h1, h2 {
    color : #355c49;
    margin: 0px;
}

h1 {
    font-size: 2.5em;
    line-height: 1.1em;
}

i {
    font-style: none;
    font-size: 1.3em;
    -webkit-text-stroke: -1px;
    transform: translateY(5px);
    margin: 0px 5px;
    color : #355c49;
}

#green {
    color : #355c49;
}

h2 {
  font-size: 1.2em;
  color : #43956d;
  letter-spacing: 0.05em;
}

#back h2 {
    letter-spacing: 0.08em;
}